/* 通过CSS，使用伪类，来达到切换图片的目的*/

input[type=checkbox] {
  -webkit-appearance: none;
  appearance: one;
  background: url(http://7xpvnv.com2.z0.glb.qiniucdn.com/b6dcd011-23cc-4d95-9e51-9f10100103bd.png) 0 0 no-repeat;
  display: inline-block;
  width:20px;
  height:20px;
  background-size: contain;
  vertical-align:middle;
  /* border:1px solid */
  border:none;
}

input[type=checkbox]:checked {
  -webkit-appearance: none;
  appearance: none;
  background: url(http://7xpvnv.com2.z0.glb.qiniucdn.com/538f26f0-6f3e-48d5-91e6-5b5bb730dd19.png) 0 0 no-repeat;
  display: inline-block;
  width:20px;
  height:20px;
  background-size: contain;
  vertical-align: middle;
  border:none;
}
